n8n/workflows/v6/ARGUS-Tool-Product Manager.json
{
  "name": "ARGUS-Tool-Product Manager",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "product",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -544,
        16
      ],
      "id": "81201f7e-1e1a-442b-8d4d-48122817baa3",
      "name": "Webhook",
      "webhookId": "9c2ec264-7bed-40be-95c7-2b18a94e5066"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "create",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "85dc1d5e-1dff-4ccb-a86d-91ceeade071c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "create"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4f232ab0-6c89-424f-b5e3-e9e3b6d4eb3a",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "read",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "read"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5171b734-e141-455f-aebd-75479ef0a4fc",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "update",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "update"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "203a0b70-ccca-4f9d-9e45-709dccab4dc7",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "delete",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "delete"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -160,
        -16
      ],
      "id": "b0302353-6524-49af-af1b-af4e97ac144e",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * \nFROM products\nWHERE name ILIKE '%{{ $json.name }}%'\nAND active = true;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        304,
        -80
      ],
      "id": "9cd8a43a-8f06-4849-850d-1bcafd1ca18d",
      "name": "READ",
      "credentials": {
        "postgres": {
          "id": "vAW446yotwYgCYxJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO products (name, price, category, stock, active)\nVALUES (\n  '{{ $json.body.name }}',\n  {{ $json.body.price }},\n  '{{ $json.body.category }}',\n  {{ $json.body.stock }},\n  true\n)\nRETURNING *;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        304,
        -256
      ],
      "id": "265abe3e-6a20-47cb-a54e-9d5f3744c339",
      "name": "CREATE",
      "credentials": {
        "postgres": {
          "id": "vAW446yotwYgCYxJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE products\nSET \n  price = COALESCE({{ $json.price ?? null }}, price),\n  category = COALESCE(\n    {{ $json.category ? \"'\" + $json.category + \"'\" : null }},\n    category\n  ),\n  stock = COALESCE({{ $json.stock ?? null }}, stock)\nWHERE name ILIKE {{ $json.name ? \"'\" + $json.name + \"'\" : \"'%'\" }}\nRETURNING *;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        304,
        64
      ],
      "id": "def9e1bc-409b-4776-91e1-2775e5f1acbd",
      "name": "UPDATE",
      "credentials": {
        "postgres": {
          "id": "vAW446yotwYgCYxJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE products\nSET active = false\nWHERE name ILIKE '{{ $json.name }}'\nRETURNING *;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        96,
        224
      ],
      "id": "9d558a5f-007a-4437-85cb-469cc4835e7a",
      "name": "DELETE",
      "credentials": {
        "postgres": {
          "id": "vAW446yotwYgCYxJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"result\": \"success\",\n  \"action\": \"{{$node['Webhook'].json.body.action}}\",\n  \"data\": {{ JSON.stringify($json) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        528,
        0
      ],
      "id": "c9973561-4c70-4264-aa7e-d27d7e1149c0",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  ...$json,\n  price: parseFloat($json.price),\n  stock: parseInt($json.stock)\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        -256
      ],
      "id": "07cb1b9a-2d23-462c-a422-1e96c8ec60d7",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "READ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "UPDATE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DELETE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CREATE": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "READ": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UPDATE": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DELETE": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "CREATE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "8e938fcb-42a9-492a-b76a-f65c879c44b5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c0e59be407a96ee7e9a61711c08d00ee197dbfa1a07ef2ffc41fd0504b80a96a"
  },
  "id": "0I8M2phQRLkQZQrq",
  "tags": []
}